# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.pravega.io
    chart: zookeeper
    targetRevision: {{ chart_version }}
    helm:
      values: |
        replicas: {{ replica_count }}

        {% if override_image %}
        image:
          repository: "{{ image }}"
          tag: "{{ image_tag }}"
        {% endif %}

        storageType: persistence
        persistence:
          volumeSize: "{{ storage_size }}"

        pod:
          resources:
            requests:
              cpu: "{{ cpu_request }}"
              memory: "{{ mem_request }}Gi"
            limits:
              cpu: "{{ cpu_limit }}"
              memory: "{{ mem_limit }}Gi"

        {% if additional_properties %}
        config:
          {% for key, val in additional_properties.items() %}
          {{ key }}: "{{ val }}"
          {% endfor %}
        {% endif %}

  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
