{% for name, cat_info in image_catalogs.items() %}
apiVersion: postgresql.cnpg.io/v1
kind: ImageCatalog
metadata:
  name: {{ name }}
spec:
  images:
{% for img in cat_info.images %}
    - major: {{ img.major }}
      image: {{ img.image }}
{% endfor %}
---
{% endfor %}
