# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ name }}-tls
  namespace: {{ namespace }}
spec:
  secretName: {{ name }}-tls
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  subject:
    organizations:
      - mindweaver
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  usages:
    - server auth
    - client auth
  dnsNames:
    - {{ name }}
    - {{ name }}.{{ namespace }}
    - {{ name }}.{{ namespace }}.svc
    - {{ name }}.{{ namespace }}.svc.cluster.local
  issuerRef:
    name: mindweaver-selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
