# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
  labels:
    {% if project_title %}
    project: "{{ project_title }}"
    {% endif %}
    {% if service_title %}
    service: "{{ service_title }}"
    {% endif %}
    manager: mindweaver
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ project_name }}
  source:
    repoURL: {{ chart_repo }}
    chart: {{ chart_name }}
    targetRevision: {{ chart_version }}
    helm:
      values: |
        fullnameOverride: {{ name }}
        env:
          - name: HADOOP_CREDSTORE_PASSWORD
            value: changeit
          - name: SSL_CERT_FILE
            value: /etc/trino/tls/ca-certificates.crt
        {% if override_image %}
        image:
          tag: "{{ image.split(':')[-1] if ':' in image else 'latest' }}"
          repository: "{{ image.rsplit(':', 1)[0] if ':' in image else image }}"
        {% endif %}
        {% if ranger_enabled %}
        accessControl:
          type: properties
          properties: |
            access-control.name=ranger
            ranger.service.name={{ name }}
            ranger.plugin.config.resource=/etc/trino/ranger-trino-security.xml,/etc/trino/ranger-trino-audit.xml
        {% endif %}
        additionalLogProperties: []
        additionalConfigProperties:
          {% if internal_shared_secret %}
          - internal-communication.shared-secret={{ internal_shared_secret }}
          {% endif %}
          {% if process_forwarded %}
          - http-server.process-forwarded=true
          {% endif %}
          - http-server.https.enabled=true
          - http-server.https.port=8443
          - http-server.https.keystore.path=/etc/trino/tls/keystore.jks
          - http-server.https.keystore.key=changeit
          - http-server.https.truststore.path=/etc/trino/tls/truststore.jks
          - http-server.https.truststore.key=changeit
        initContainers:
          coordinator:
            {{ trusted_cert_init_container | indent(12) }}
          worker:
            {{ trusted_cert_init_container | indent(12) }}
        server:
          workers: {{ replica_count }}
          autoscaling:
            enabled: false
          coordinatorExtraConfig: |
            http-server.authentication.type={% if password_authenticator_config_files %}PASSWORD,{% endif %}{% if jwt_enabled %}JWT,{% endif %}CERTIFICATE
            http-server.authentication.certificate.user-mapping.pattern=.*?(CN=[^,]+).*
            {% if password_authenticator_config_files %}
            password-authenticator.config-files={{ password_authenticator_config_files }}
            {% endif %}
            {% if jwt_enabled %}
            http-server.authentication.jwt.key-file={{ jwt_key_file }}
            http-server.authentication.jwt.principal-field=email
            {% endif %}

        coordinator:
          additionalExposedPorts:
            https:
              servicePort: 8443
              port: 8443
              name: https
              protocol: TCP
          additionalJVMConfig:
            - "-Dlog.enable-console=true"
            - "-Djavax.net.ssl.trustStore=/etc/trino/truststore/truststore.jks"
            - "-Djavax.net.ssl.trustStorePassword=changeit"
            - "-Djavax.net.ssl.keyStore=/etc/trino/tls/keystore.jks"
            - "-Djavax.net.ssl.keyStorePassword=changeit"
          additionalConfigFiles:
            {% if ldap %}
            ldap.properties: |
              password-authenticator.name=ldap
              {% for key, value in ldap.items() %}
              {{ key }}={{ value }}
              {% endfor %}
            {% endif %}
            {% if file_auth_enabled %}
            file.properties: |
              password-authenticator.name=file
              file.password-file=/etc/trino/password.db
            password.db: |
              trino:{{ admin_trino_password_hash }}
              {% if ranger_enabled %}
              ranger:{{ ranger_trino_password_hash }}
              {% endif %}
            {% endif %}
            {% if ranger_enabled %}
            ranger-trino-security.xml: |
              <?xml version="1.0"?>
              <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
              <configuration xmlns:xi="http://www.w3.org/2001/XInclude">
                <property>
                  <name>ranger.plugin.trino.policy.rest.url</name>
                  <value>{{ ranger_url }}</value>
                </property>
                <property>
                  <name>ranger.plugin.trino.service.name</name>
                  <value>{{ ranger_service_name }}</value>
                </property>
                <property>
                  <name>ranger.plugin.trino.policy.cache.dir</name>
                  <value>/tmp/ranger/cache</value>
                </property>
                <property>
                  <name>ranger.plugin.trino.policy.pollIntervalMs</name>
                  <value>30000</value>
                </property>
                <property>
                  <name>ranger.plugin.trino.policy.rest.ssl.config.file</name>
                  <value>/etc/trino/ranger-policymgr-ssl.xml</value>
                </property>
              </configuration>
            ranger-policymgr-ssl.xml: |
              <?xml version="1.0"?>
              <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
              <configuration xmlns:xi="http://www.w3.org/2001/XInclude">
                <property>
                  <name>xasecure.policymgr.clientssl.keystore</name>
                  <value>/etc/trino/tls/keystore.jks</value>
                </property>
                <property>
                  <name>xasecure.policymgr.clientssl.keystore.credential.file</name>
                  <value>jceks://file/etc/trino/tls/ranger-link.jceks</value>
                </property>
                <property>
                  <name>xasecure.policymgr.clientssl.truststore</name>
                  <value>/etc/trino/tls/truststore.jks</value>
                </property>
                <property>
                  <name>xasecure.policymgr.clientssl.truststore.credential.file</name>
                  <value>jceks://file/etc/trino/tls/ranger-link.jceks</value>
                </property>
              </configuration>
            ranger-trino-audit.xml: |
              <?xml version="1.0"?>
              <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
              <configuration xmlns:xi="http://www.w3.org/2001/XInclude">
                <property>
                  <name>xasecure.audit.is.enabled</name>
                  <value>true</value>
                </property>
                <property>
                  <name>xasecure.audit.destination.solr</name>
                  <value>{{ ranger_solr_enabled }}</value>
                </property>
                {% if ranger_solr_enabled == 'true' %}
                <property>
                  <name>xasecure.audit.destination.solr.urls</name>
                  <value>{{ ranger_solr_url }}</value>
                </property>
                <property>
                  <name>xasecure.audit.destination.solr.user</name>
                  <value>solr</value>
                </property>
                <property>
                  <name>xasecure.audit.destination.solr.password</name>
                  <value>{{ ranger_solr_password }}</value>
                </property>
                {% endif %}
                <property>
                  <name>xasecure.audit.hdfs.is.enabled</name>
                  <value>false</value>
                </property>
              </configuration>
            {% endif %}
            access-control.properties: |
              access-control.name=file
              security.config-file=/etc/trino/rules.json
            rules.json: |
              {{ rules_json | indent(14) }}
          additionalVolumes:
            - name: tls-secret
              secret:
                secretName: {{ name }}-tls
            - name: certs
              emptyDir: {}
            {% if trusted_certs %}
            - name: trusted-certs
              secret:
                secretName: trusted-certs
            {% endif %}
          additionalVolumeMounts:
            - name: certs
              mountPath: /etc/trino/tls
              readOnly: false
            {% if trusted_certs %}
            - name: trusted-certs
              mountPath: /trusted-certs
              readOnly: true
            {% endif %}

        worker:
          additionalJVMConfig:
            - "-Dlog.enable-console=true"
            - "-Djavax.net.ssl.trustStore=/etc/trino/tls/truststore.jks"
            - "-Djavax.net.ssl.trustStorePassword=changeit"
            - "-Djavax.net.ssl.keyStore=/etc/trino/tls/keystore.jks"
            - "-Djavax.net.ssl.keyStorePassword=changeit"
          additionalVolumes:
            - name: tls-secret
              secret:
                secretName: {{ name }}-tls
            - name: certs
              emptyDir: {}
            {% if trusted_certs %}
            - name: trusted-certs
              secret:
                secretName: trusted-certs
            {% endif %}
          additionalVolumeMounts:
            - name: certs
              mountPath: /etc/trino/tls
              readOnly: false
            {% if trusted_certs %}
            - name: trusted-certs
              mountPath: /trusted-certs
              readOnly: true
            {% endif %}
        
        {% if catalogs %}
        catalogs:
          {% for catalog in catalogs %}
          {{ catalog.catalog }}: |
            {% for key, value in catalog.properties.items() %}
            {{ key }}={{ value }}
            {% endfor %}
          {% endfor %}
        {% endif %}
        
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
