# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://solr.apache.org/charts
    chart: solr
    targetRevision: {{ chart_version }}
    helm:
      values: |
        replicas: {{ replica_count }}

        {% if override_image %}
        image:
          repository: "{{ image }}"
          tag: "{{ image_tag }}"
        {% endif %}

        solrOptions:
          security:
            authenticationType: "Basic"
          javaOpts: >-
            -Dsolr.jetty.ssl.sniHostCheck=false
            {% if additional_properties %}
            {% for key, val in additional_properties.items() %}
            -D{{ key }}={{ val }}
            {% endfor %}
            {% endif %}

        solrTLS:
          clientAuth: "Want"
          pkcs12Secret:
            name: {{ name }}-tls
            key: keystore.p12
          keyStorePasswordSecret:
            name: {{ name }}-passwords
            key: pkcs12-password
          trustStoreSecret:
            name: {{ name }}-tls
            key: keystore.p12
          trustStorePasswordSecret:
            name: {{ name }}-passwords
            key: pkcs12-password
          restartOnTLSSecretUpdate: true


        {% if zookeeper_connection_string %}
        zk:
          address: "{{ zookeeper_connection_string }}"
          uniqueChroot: true
        {% else %}
        zk:
          provided:
            replicas: 1
            persistence:
              spec:
                resources:
                  requests:
                    storage: "5Gi"
        {% endif %}

        resources:
          requests:
            cpu: "{{ cpu_request }}"
            memory: "{{ mem_request }}Gi"
          limits:
            cpu: "{{ cpu_limit }}"
            memory: "{{ mem_limit }}Gi"

        persistence:
          enabled: true
          size: "{{ storage_size }}"



  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
