# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ name }}-ranger-noauth-config
  namespace: {{ namespace }}
data:
  entrypoint.sh: |
    #!/bin/sh
    AUTH_HEADER=$(echo -n "solr:$SOLR_PASSWORD" | base64 | tr -d '\n')

    cat <<EOF > /etc/nginx/conf.d/default.conf
    server {
        listen 8443 ssl;
        server_name _;

        ssl_certificate /etc/nginx/certs/tls.crt;
        ssl_certificate_key /etc/nginx/certs/tls.key;

        client_max_body_size 10m;
        client_body_buffer_size 10m;

        # Reject any HTTP method other than GET and POST
        if (\$request_method !~ ^(GET|POST)$) {
            return 405;
        }

        location ~ ^/solr/ranger_audits/(select|update)$ {
            if (\$request_body ~* "delete") {
                return 403 "Delete operations are not allowed.";
            }

            proxy_pass https://{{ name }}-solrcloud-headless:8983;
            proxy_set_header Host \$host;
            proxy_set_header Authorization "Basic $AUTH_HEADER";

            proxy_ssl_server_name on;
            proxy_ssl_name {{ name }}-solrcloud-headless;
            proxy_ssl_verify off;
        }

        location / {
            return 403 "Access Denied. Only select/insert on ranger_audits collection is allowed.";
        }
    }
    EOF

    exec nginx -g "daemon off;"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}-ranger-noauth
  namespace: {{ namespace }}
  labels:
    app: {{ name }}-ranger-noauth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ name }}-ranger-noauth
  template:
    metadata:
      labels:
        app: {{ name }}-ranger-noauth
    spec:
      containers:
        - name: proxy
          image: nginx:alpine
          command:
            - sh
            - /usr/share/nginx/entrypoint.sh
          env:
            - name: SOLR_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ name }}-solrcloud-security-bootstrap
                  key: solr
          ports:
            - containerPort: 8443
              name: https
          volumeMounts:
            - name: config
              mountPath: /usr/share/nginx/entrypoint.sh
              subPath: entrypoint.sh
            - name: certs
              mountPath: /etc/nginx/certs
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: {{ name }}-ranger-noauth-config
            defaultMode: 0755
        - name: certs
          secret:
            secretName: {{ name }}-tls

---
apiVersion: v1
kind: Service
metadata:
  name: {{ name }}-ranger-noauth
  namespace: {{ namespace }}
spec:
  ports:
    - port: 8443
      targetPort: 8443
      protocol: TCP
      name: https
  selector:
    app: {{ name }}-ranger-noauth
