# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nifikop-operator
  namespace: argocd
  labels:
    {% if project_title %}
    project: "{{ project_title }}"
    {% endif %}
    {% if service_title %}
    service: "{{ service_title }}"
    {% endif %}
    manager: mindweaver
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: ghcr.io/konpyutaika/helm-charts
    chart: nifikop
    targetRevision: 1.17.0
    helm:
      values: |
        namespaces:
          - ""
  destination:
    server: https://kubernetes.default.svc
    namespace: nifikop
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - RespectIgnoreDifferences=true
    - ServerSideApply=true
