apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-db-secret
  namespace: {{ namespace }}
type: Opaque
stringData:
  user: "{{ db_user }}"
  password: "{{ db_pass }}"
  host: "{{ db_host }}"
  port: "{{ db_port }}"
  dbname: "{{ db_name }}"
{% if s3_endpoint_url %}
  s3_endpoint_url: "{{ s3_endpoint_url }}"
  aws_access_key_id: "{{ aws_access_key_id }}"
  aws_secret_access_key: "{{ aws_secret_access_key }}"
{% endif %}
