apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-db-secret
  namespace: {{ namespace }}
type: Opaque
stringData:
  user: "{{ db_user }}"
  password: "{{ db_pass }}"
  host: "{{ db_host }}"
  port: "{{ db_port }}"
  dbname: "{{ db_name }}"
