apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'oci://ghcr.io/kagesenshi/mindweaver/charts/hive-metastore'
    targetRevision: {{ chart_version }}
    path: .
    helm:
      values: |
        fullnameOverride: {{ name }}
        replicaCount: {{ replica_count }}
        {% if override_image %}
        image:
          tag: "{{ image.split(':')[-1] if ':' in image else 'latest' }}"
          repository: "{{ image.rsplit(':', 1)[0] if ':' in image else image }}"
        {% endif %}
        database:
          secretRef:
            name: {{ name }}-db-secret
            userKey: user
            passwordKey: password
            hostKey: host
            portKey: port
            dbnameKey: dbname
        icebergRest:
          enabled: {{ 'true' if iceberg_enabled else 'false' }}
          port: {{ iceberg_port }}
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
