apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-fernet-key
  namespace: {{ namespace }}
type: Opaque
stringData:
  fernet-key: {{ fernet_key }}
{% if redis_enabled %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-redis-password
  namespace: {{ namespace }}
type: Opaque
stringData:
  password: {{ redis_password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-broker-url
  namespace: {{ namespace }}
type: Opaque
stringData:
  connection: redis://:{{ redis_password }}@{{ name }}-redis:6379/0
{% endif %}
