apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-fernet-key
  namespace: {{ namespace }}
type: Opaque
stringData:
  fernet-key: {{ fernet_key }}
{% if redis_enabled %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-redis-password
  namespace: {{ namespace }}
type: Opaque
stringData:
  password: {{ redis_password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-broker-url
  namespace: {{ namespace }}
type: Opaque
stringData:
  connection: redis://:{{ redis_password }}@{{ name }}-redis:6379/0
{% endif %}
{% if dags_git_sync_enabled and git_repo %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-git-sync
  namespace: {{ namespace }}
type: Opaque
stringData:
  {% if git_repo.username or git_repo.password %}
  username: "{{ git_repo.username or '' }}"
  password: "{{ git_repo.password or '' }}"
  GIT_SYNC_USERNAME: "{{ git_repo.username or '' }}"
  GIT_SYNC_PASSWORD: "{{ git_repo.password or '' }}"
  GITSYNC_USERNAME: "{{ git_repo.username or '' }}"
  GITSYNC_PASSWORD: "{{ git_repo.password or '' }}"
  {% endif %}
  {% if ssh_key and ssh_key.private_key %}
  gitSshKey: |
{{ ssh_key.private_key | indent(4, true) }}
  {% endif %}
{% endif %}

