# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: project-envoy-proxy-config
  namespace: {{ namespace }}
spec:
  provider:
    type: Kubernetes
    kubernetes:
      envoyService:
        type: {{ service_type }}
        {%- if service_type == "NodePort" and nodeport %}
        patch:
          type: StrategicMerge
          value:
            spec:
              ports:
                - name: https
                  port: 443
                  nodePort: {{ nodeport }}
        {%- endif %}
