# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: v1
kind: Secret
metadata:
  name: trusted-certs
  namespace: {{ namespace }}
  labels:
    project: "{{ name }}"
    manager: mindweaver
type: Opaque
{% if ca_certificates_b64 or truststore_b64 or trusted_certs %}
data:
  {% if ca_certificates_b64 %}
  ca-certificates.crt: {{ ca_certificates_b64 }}
  {% endif %}
  {% if truststore_b64 %}
  truststore.jks: {{ truststore_b64 }}
  {% endif %}
  {% for cert in trusted_certs %}
  {{ cert.name }}.crt: {{ cert.certificate_b64 }}
  {% endfor %}
{% else %}
data: {}
{% endif %}
