# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'oci://ghcr.io/kagesenshi/mindweaver/charts/ranger'
    targetRevision: {{ chart_version }}
    path: .

    helm:
      values: |
        replicaCount: {{ replica_count }}
        {% if override_image %}
        image:
          repository: "{{ image.rsplit(':', 1)[0] if ':' in image else image }}"
          tag: "{{ image.split(':')[-1] if ':' in image else 'latest' }}"
        {% endif %}
        
        # External Database Configuration
        postgresql:
          enabled: false
        db:
          type: postgres
          host: {{ db_host }}
          port: {{ db_port }}
          name: {{ db_name }}
          user: {{ db_user }}
          password: {{ db_pass }}
          rootUser: {{ db_root_user }}
          rootPassword: {{ db_root_pass }}

        # Disabled bundled components
        solr:
          enabled: false
        zookeeper:
          enabled: false

        # Admin Configuration
        admin:
          password: {{ admin_password }}
          keyadminPassword: {{ keyadmin_password }}
          tagsyncPassword: {{ tagsync_password }}
          usersyncPassword: {{ usersync_password }}
          externalUrl: https://{{ name }}.{{ namespace }}.svc.cluster.local:6080
          ssl:
            enabled: true
            keystorePassword: changeit
          
          # Audit Store Configuration
          {%- if opensearch_id %}
          auditStore: elasticsearch
          {%- else %}
          auditStore: none
          {%- endif %}

          additionalProperties:
            {%- if not additional_properties or 'policymgr_supportedcomponents' not in additional_properties %}
            policymgr_supportedcomponents: trino,kafka,elasticsearch,nifi
            {%- endif %}
            {%- if not additional_properties or 'ranger.supportedcomponents' not in additional_properties %}
            ranger.supportedcomponents: trino,kafka,elasticsearch,nifi
            {%- endif %}
            {%- if additional_properties %}
            {%- for key, val in additional_properties.items() %}
            {{ key }}: {{ val }}
            {%- endfor %}
            {%- endif %}

        # UserSync Configuration
        usersync:
          enabled: {{ 'true' if additional_properties and additional_properties.get('SYNC_SOURCE') == 'ldap' else 'false' }}

        resources:
          requests:
            cpu: {{ cpu_request }}
            memory: {{ mem_request }}Gi
          limits:
            cpu: {{ cpu_limit }}
            memory: {{ mem_limit }}Gi

        service:
          type: NodePort
          port: 6080

  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
