# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/kagesenshi/mindweaver.git
    path: charts/ranger
    targetRevision: {{ chart_version }}
    helm:
      values: |
        replicaCount: {{ replica_count }}
        {% if override_image %}
        image:
          repository: "{{ image.rsplit(':', 1)[0] if ':' in image else image }}"
          tag: "{{ image.split(':')[-1] if ':' in image else 'latest' }}"
        {% endif %}
        
        # External Database Configuration
        postgresql:
          enabled: false
        db:
          type: postgres
          host: {{ db_host }}
          port: {{ db_port }}
          name: {{ db_name }}
          user: {{ db_user }}
          password: {{ db_pass }}
          rootUser: {{ db_root_user }}
          rootPassword: {{ db_root_pass }}

        # Disabled bundled components
        solr:
          enabled: false
        zookeeper:
          enabled: false

        # Admin Configuration
        admin:
          password: {{ admin_password }}
          keyadminPassword: {{ keyadmin_password }}
          tagsyncPassword: {{ tagsync_password }}
          usersyncPassword: {{ usersync_password }}
          externalUrl: http://{{ name }}.{{ namespace }}.svc.cluster.local:6080
          
          # Audit Store Configuration
          {%- if s3_storage_id %}
          auditStore: hdfs
          auditHdfsDestDir: {{ audit_hdfs_dest_dir }}
          {%- else %}
          auditStore: none
          {%- endif %}

        resources:
          requests:
            cpu: {{ cpu_request }}
            memory: {{ mem_request }}Gi
          limits:
            cpu: {{ cpu_limit }}
            memory: {{ mem_limit }}Gi

        service:
          type: NodePort
          port: 6080

  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
