apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hive-metastore.fullname" . }}-config
  labels:
    {{- include "hive-metastore.labels" . | nindent 4 }}
data:
  log4j.properties: |-
    name = MetastoreLog4j2
    
    # list of properties
    property.metastore.log.level = INFO
    property.metastore.root.logger = console
    property.hive.perflogger.log.level = INFO
    
    # console appender
    appender.console.type = Console
    appender.console.name = console
    appender.console.target = SYSTEM_ERR
    appender.console.layout.type = PatternLayout
    appender.console.layout.pattern = %d{ISO8601} %5p [%t] %c{2}: %m%n
    
    logger.DataNucleus.name = DataNucleus
    logger.DataNucleus.level = ERROR
    
    logger.Datastore.name = Datastore
    logger.Datastore.level = ERROR
    
    logger.JPOX.name = JPOX
    logger.JPOX.level = ERROR
    
    logger.PerfLogger.name = org.apache.hadoop.hive.ql.log.PerfLogger
    logger.PerfLogger.level = ${sys:hive.perflogger.log.level}
    
    # root logger
    rootLogger.level = ${sys:metastore.log.level}
    rootLogger.appenderRefs = root
    rootLogger.appenderRef.root.ref = ${sys:metastore.root.logger}

  core-site.xml: |-
    <configuration>
      <property>
        <name>fs.s3a.endpoint</name>
        <value>${env.S3_ENDPOINT_URL}</value>
      </property>
      <property>
        <name>fs.s3a.access.key</name>
        <value>${env.AWS_ACCESS_KEY_ID}</value>
      </property>
      <property>
        <name>fs.s3a.secret.key</name>
        <value>${env.AWS_SECRET_ACCESS_KEY}</value>
      </property>
    </configuration>
  hive-site.xml: |-
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
    <configuration>
        <property>
            <name>javax.jdo.option.ConnectionURL</name>
            <value>jdbc:postgresql://${env.DB_HOST}:${env.DB_PORT}/${env.DB_NAME}</value>
            <description>JDBC connect string for a JDBC metastore.</description>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionDriverName</name>
            <value>org.postgresql.Driver</value>
            <description>Driver class name for a JDBC metastore</description>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionUserName</name>
            <value>${env.DB_USER}</value>
            <description>username to use against metastore database</description>
        </property>
        <property>
            <name>javax.jdo.option.ConnectionPassword</name>
            <value>${env.DB_PASSWORD}</value>
            <description>password to use against metastore database</description>
        </property>
        <property>
            <name>hive.metastore.uris</name>
            <value>thrift://0.0.0.0:{{ .Values.service.port }}</value>
            <description>Thrift URI for the remote metastore.</description>
        </property>
        {{- if .Values.icebergRest.enabled }}
        <property>
            <name>metastore.catalog.servlet.port</name>
            <value>{{ .Values.icebergRest.port }}</value>
        </property>
        <property>
            <name>metastore.catalog.servlet.auth</name>
            <value>{{ .Values.icebergRest.auth.type }}</value>
        </property>
        {{- if eq .Values.icebergRest.auth.type "jwt" }}
        <property>
            <name>metastore.authentication.jwt.jwks.url</name>
            <value>{{ .Values.icebergRest.auth.jwt.jwksUrl }}</value>
        </property>
        {{- end }}
        {{- if eq .Values.icebergRest.auth.type "oauth2" }}
        <property>
            <name>metastore.catalog.servlet.auth.oauth2.issuer</name>
            <value>{{ .Values.icebergRest.auth.oauth2.issuer }}</value>
        </property>
        <property>
            <name>metastore.catalog.servlet.auth.oauth2.audience</name>
            <value>{{ .Values.icebergRest.auth.oauth2.audience }}</value>
        </property>
        <property>
            <name>metastore.catalog.servlet.auth.oauth2.validation.method</name>
            <value>{{ .Values.icebergRest.auth.oauth2.validationMethod }}</value>
        </property>
        <property>
            <name>metastore.catalog.servlet.auth.oauth2.client.id</name>
            <value>{{ .Values.icebergRest.auth.oauth2.clientId }}</value>
        </property>
        <property>
            <name>metastore.catalog.servlet.auth.oauth2.client.secret</name>
            <value>{{ .Values.icebergRest.auth.oauth2.clientSecret }}</value>
        </property>
        <property>
            <name>metastore.catalog.servlet.auth.oauth2.principal.mapper.regex.username.field</name>
            <value>{{ .Values.icebergRest.auth.oauth2.usernameField }}</value>
        </property>
        <property>
            <name>metastore.catalog.servlet.auth.oauth2.principal.mapper.regex.username.pattern</name>
            <value>{{ .Values.icebergRest.auth.oauth2.usernamePattern }}</value>
        </property>
        {{- end }}
        {{- end }}
    </configuration>
