# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
  labels:
    {% if project_title %}
    project: "{{ project_title }}"
    {% endif %}
    {% if service_title %}
    service: "{{ service_title }}"
    {% endif %}
    manager: mindweaver
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ project_name }}
  source:
    repoURL: {{ chart_repo }}
    chart: {{ chart_name }}
    targetRevision: {{ chart_version }}
    helm:
      values: |
        cluster:
          fullnameOverride: {{ name }}
          nodeUserIdentityTemplate: "node-%d"
          manager: kubernetes
          pod:
            annotations:
              argocd.argoproj.io/ignore-healthcheck: "true"
          image:
            repository: "{{ image }}"
            tag: "{{ image_tag }}"
          nodeConfigGroups:
            default-group:
              isNode: true
              serviceAccountName: {{ name }}
              storageConfigs:
                - name: data
                  mountPath: "/opt/nifi/nifi-current/data"
                  pvcSpec:
                    accessModes:
                      - ReadWriteOnce
                    resources:
                      requests:
                        storage: "{{ storage_size }}"
              resourcesRequirements:
                requests:
                  cpu: "{{ cpu_request }}"
                  memory: "{{ mem_request }}Gi"
                limits:
                  cpu: "{{ cpu_limit }}"
                  memory: "{{ mem_limit }}Gi"
          nodes:
            {%- for i in range(replica_count) %}
            - id: {{ i }}
              nodeConfigGroup: default-group
            {%- endfor %}
          listenersConfig:
            internalListeners:
              - containerPort: 8443
                type: https
                name: https
              - containerPort: 6007
                type: cluster
                name: cluster
              - containerPort: 10000
                type: s2s
                name: s2s
              - containerPort: 6342
                type: load-balance
                name: load-balance
            sslSecrets:
              tlsSecretName: "{{ name }}-ca-secret"
              create: true
              issuerRef:
                name: {{ project_name }}-selfsigned-issuer
                kind: Issuer
                group: cert-manager.io
          externalServices:
            - name: {{ name }}-nodeport
              spec:
                type: NodePort
                portConfigs:
                  - internalListenerName: https
                    port: 8443
          nifiProperties:
            overrideConfigs: |
              nifi.cluster.leader.election.implementation=KubernetesLeaderElectionManager
              nifi.cluster.leader.election.kubernetes.lease.prefix={{ name }}
              nifi.sensitive.props.key=default-sensitive-properties-key-32-chars-long
              nifi.security.needClientAuth=true
              {% if ingress_domain %}
              nifi.web.proxy.host={{ name }}.{{ ingress_domain }}:443
              {% endif %}
            webProxyHosts:
              {%- if ingress_domain %}
              - "{{ name }}.{{ ingress_domain }}"
              {%- else %}
              []
              {%- endif %}
          {%- if ldap_enabled %}
          ldapConfiguration:
            enabled: true
            url: "{{ ldap_url }}"
            searchBase: "{{ ldap_search_base }}"
            searchFilter: "{{ ldap_search_filter }}"
            {%- if ldap_manager_dn %}
            managerDn: "{{ ldap_manager_dn }}"
            {%- endif %}
            {%- if ldap_manager_password %}
            managerPassword: "{{ ldap_manager_password }}"
            {%- endif %}
            authenticationStrategy: "{{ ldap_authentication_strategy }}"
          {%- endif %}

          bootstrapProperties:
            overrideConfigs: |
              java.arg.addopens.exodus=--add-opens=java.base/sun.nio.ch=ALL-UNNAMED
            nifiJvmMemory: "512m"
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
