# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
  labels:
    {% if project_title %}
    project: "{{ project_title }}"
    {% endif %}
    {% if service_title %}
    service: "{{ service_title }}"
    {% endif %}
    manager: mindweaver
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: ghcr.io/konpyutaika/helm-charts
    chart: nifi-cluster
    targetRevision: {{ chart_version }}
    helm:
      values: |
        cluster:
          fullnameOverride: {{ name }}
          nodeUserIdentityTemplate: "node-%d"
          manager: kubernetes
          pod:
            annotations:
              argocd.argoproj.io/ignore-healthcheck: "true"
          image:
            repository: "{{ image }}"
            tag: "{{ image_tag }}"
          {%- if ranger_enabled %}
          initContainers:
            - name: prepare-ranger-truststore
              image: "{{ image }}:{{ image_tag }}"
              command:
                - sh
                - -c
                - |
                  echo "Generating Ranger Truststore..."
                  # Import CA cert into ranger-truststore.jks with password changeit
                  keytool -importcert -file /var/run/secrets/java.io/keystores/server/ca.crt -keystore /opt/nifi/nifi-current/conf/ranger/ranger-truststore.jks -storepass changeit -noprompt
                  
                  # Copy configuration files from the mounted configmap source directory to the emptyDir mount
                  cp /tmp/ranger-config-src/authorizers.xml /opt/nifi/nifi-current/conf/ranger/authorizers.xml
                  cp /tmp/ranger-config-src/ranger-policymgr-ssl.xml /opt/nifi/nifi-current/conf/ranger/ranger-policymgr-ssl.xml
              volumeMounts:
                - name: "{{ name }}-ranger-truststore-vol"
                  mountPath: "/opt/nifi/nifi-current/conf/ranger"
                - name: "server-ks-files"
                  mountPath: "/var/run/secrets/java.io/keystores/server"
                - name: "{{ name }}-ranger-config-src-vol"
                  mountPath: "/tmp/ranger-config-src"
          {%- endif %}
          nodeConfigGroups:
            default-group:
              isNode: true
              serviceAccountName: {{ name }}
              storageConfigs:
                - name: data
                  mountPath: "/opt/nifi/nifi-current/data"
                  pvcSpec:
                    accessModes:
                      - ReadWriteOnce
                    resources:
                      requests:
                        storage: "{{ storage_size }}"
              {%- if ranger_enabled %}
              externalVolumeConfigs:
                - name: "{{ name }}-ranger-security"
                  mountPath: "/opt/nifi/nifi-current/conf/ranger-nifi-security.xml"
                  subPath: "ranger-nifi-security.xml"
                  configMap:
                    name: "{{ name }}-ranger-config"
                - name: "{{ name }}-ranger-audit"
                  mountPath: "/opt/nifi/nifi-current/conf/ranger-nifi-audit.xml"
                  subPath: "ranger-nifi-audit.xml"
                  configMap:
                    name: "{{ name }}-ranger-config"
                - name: "{{ name }}-ranger-config-src-vol"
                  mountPath: "/tmp/ranger-config-src"
                  configMap:
                    name: "{{ name }}-ranger-config"
                - name: "{{ name }}-ranger-truststore-vol"
                  mountPath: "/opt/nifi/nifi-current/conf/ranger"
                  emptyDir: {}
              {%- endif %}
              resourcesRequirements:
                requests:
                  cpu: "{{ cpu_request }}"
                  memory: "{{ mem_request }}Gi"
                limits:
                  cpu: "{{ cpu_limit }}"
                  memory: "{{ mem_limit }}Gi"
          nodes:
            {%- for i in range(replica_count) %}
            - id: {{ i }}
              nodeConfigGroup: default-group
            {%- endfor %}
          listenersConfig:
            internalListeners:
              - containerPort: 8443
                type: https
                name: https
              - containerPort: 6007
                type: cluster
                name: cluster
              - containerPort: 10000
                type: s2s
                name: s2s
              - containerPort: 6342
                type: load-balance
                name: load-balance
            sslSecrets:
              tlsSecretName: "{{ name }}-ca-secret"
              create: true
              issuerRef:
                name: {{ project_name }}-selfsigned-issuer
                kind: Issuer
                group: cert-manager.io
          externalServices:
            - name: {{ name }}-nodeport
              spec:
                type: NodePort
                portConfigs:
                  - internalListenerName: https
                    port: 8443
          nifiProperties:
            overrideConfigs: |
              nifi.cluster.leader.election.implementation=KubernetesLeaderElectionManager
              nifi.cluster.leader.election.kubernetes.lease.prefix={{ name }}
              nifi.sensitive.props.key=default-sensitive-properties-key-32-chars-long
              nifi.security.needClientAuth=true
              {% if ingress_domain %}
              nifi.web.proxy.host={{ name }}.{{ ingress_domain }}:443
              {% endif %}
              {% if ranger_enabled %}
              nifi.security.user.authorizer=ranger-provider
              nifi.authorizer.configuration.file=/opt/nifi/nifi-current/conf/ranger/authorizers.xml
              {% endif %}
            webProxyHosts:
              {%- if ingress_domain %}
              - "{{ name }}.{{ ingress_domain }}"
              {%- else %}
              []
              {%- endif %}
          {%- if ldap_enabled %}
          ldapConfiguration:
            enabled: true
            url: "{{ ldap_url }}"
            searchBase: "{{ ldap_search_base }}"
            searchFilter: "{{ ldap_search_filter }}"
            {%- if ldap_manager_dn %}
            managerDn: "{{ ldap_manager_dn }}"
            {%- endif %}
            {%- if ldap_manager_password %}
            managerPassword: "{{ ldap_manager_password }}"
            {%- endif %}
            authenticationStrategy: "{{ ldap_authentication_strategy }}"
          {%- endif %}

          bootstrapProperties:
            overrideConfigs: |
              java.arg.addopens.exodus=--add-opens=java.base/sun.nio.ch=ALL-UNNAMED
              {%- if ranger_enabled %}
              java.arg.ranger.truststore=-Djavax.net.ssl.trustStore=/opt/nifi/nifi-current/conf/ranger/ranger-truststore.jks
              java.arg.ranger.truststore.password=-Djavax.net.ssl.trustStorePassword=changeit
              {%- endif %}
            nifiJvmMemory: "512m"
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
