apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mindweaver.fullname" . }}-config
  labels:
    {{- include "mindweaver.labels" . | nindent 4 }}
data:
  MINDWEAVER_TIMEZONE: {{ .Values.config.timezone | quote }}
  MINDWEAVER_ENABLE_AUTH: {{ .Values.config.enableAuth | quote }}
  MINDWEAVER_EMBEDDED_WORKER: "false"
