# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: v1
kind: Secret
metadata:
  name: {{ name }}-admin-secret
  namespace: {{ namespace }}
  labels:
    {% if project_title %}
    project: "{{ project_title }}"
    {% endif %}
    {% if service_title %}
    service: "{{ service_title }}"
    {% endif %}
    manager: mindweaver
type: Opaque
stringData:
  username: "root"
  password: "{{ admin_password }}"
