# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ name }}-tls
  namespace: {{ namespace }}
spec:
  secretName: {{ name }}-tls
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  subject:
    organizations:
      - mindweaver
  commonName: {{ name }}
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 2048
  usages:
    - server auth
    - client auth
  dnsNames:
    - {{ name }}
    - {{ name }}.{{ namespace }}
    - {{ name }}.{{ namespace }}.svc
    - {{ name }}.{{ namespace }}.svc.cluster.local
    - {{ name }}-cluster-master
    - {{ name }}-cluster-master.{{ namespace }}
    - {{ name }}-cluster-master.{{ namespace }}.svc
    - {{ name }}-cluster-master.{{ namespace }}.svc.cluster.local
    - "*.{{ name }}-cluster-master"
    - "*.{{ name }}-cluster-master.{{ namespace }}"
    - "*.{{ name }}-cluster-master.{{ namespace }}.svc"
    - "*.{{ name }}-cluster-master.{{ namespace }}.svc.cluster.local"
    - {{ name }}-cluster-master-headless
    - {{ name }}-cluster-master-headless.{{ namespace }}
    - {{ name }}-cluster-master-headless.{{ namespace }}.svc
    - {{ name }}-cluster-master-headless.{{ namespace }}.svc.cluster.local
    - "*.{{ name }}-cluster-master-headless"
    - "*.{{ name }}-cluster-master-headless.{{ namespace }}"
    - "*.{{ name }}-cluster-master-headless.{{ namespace }}.svc"
    - "*.{{ name }}-cluster-master-headless.{{ namespace }}.svc.cluster.local"
  issuerRef:
    name: mindweaver-selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ name }}-admin-tls
  namespace: {{ namespace }}
spec:
  secretName: {{ name }}-admin-tls
  duration: 2160h # 90d
  renewBefore: 360h # 15d
  subject:
    organizations:
      - mindweaver
  commonName: admin
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 2048
  usages:
    - client auth
  issuerRef:
    name: mindweaver-selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
