# SPDX-FileCopyrightText: Copyright © 2026 Mohd Izhar Firdaus Bin Ismail
# SPDX-License-Identifier: AGPLv3+

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ name }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://opensearch-project.github.io/helm-charts/
    chart: opensearch
    targetRevision: {{ chart_version }}
    helm:
      values: |
        clusterName: "{{ name }}-cluster"
        masterService: "{{ name }}-cluster-master"

        # Single node vs multi-node scaling
        {%- if replica_count == 1 %}
        singleNode: true
        replicas: 1
        {%- else %}
        singleNode: false
        replicas: {{ replica_count }}
        {%- endif %}

        {% if override_image %}
        image:
          repository: "{{ image }}"
          tag: "{{ image_tag }}"
        {% endif %}

        extraEnvs:
          - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
            value: "{{ admin_password }}"
          - name: DISABLE_INSTALL_DEMO_CONFIG
            value: "true"

        secretMounts:
          - name: {{ name }}-tls
            secretName: {{ name }}-tls
            path: /usr/share/opensearch/config/certificates
          - name: {{ name }}-admin-tls
            secretName: {{ name }}-admin-tls
            path: /usr/share/opensearch/config/admin-certificates
          - name: {{ name }}-security-config
            secretName: {{ name }}-security-config
            path: /usr/share/opensearch/config/opensearch-security/internal_users.yml
            subPath: internal_users.yml

        resources:
          requests:
            cpu: "{{ cpu_request }}"
            memory: "{{ mem_request }}Gi"
          limits:
            cpu: "{{ cpu_limit }}"
            memory: "{{ mem_limit }}Gi"

        persistence:
          enabled: true
          size: "{{ storage_size }}"

        service:
          type: NodePort

        config:
          opensearch.yml: |
            plugins.security.ssl.transport.pemcert_filepath: certificates/tls.crt
            plugins.security.ssl.transport.pemkey_filepath: certificates/tls.key
            plugins.security.ssl.transport.pemtrustedcas_filepath: certificates/ca.crt
            plugins.security.ssl.transport.enforce_hostname_verification: false
            plugins.security.ssl.http.enabled: true
            plugins.security.ssl.http.pemcert_filepath: certificates/tls.crt
            plugins.security.ssl.http.pemkey_filepath: certificates/tls.key
            plugins.security.ssl.http.pemtrustedcas_filepath: certificates/ca.crt
            plugins.security.nodes_dn:
              - 'CN={{ name }},O=mindweaver'
              - 'O=mindweaver,CN={{ name }}'
            plugins.security.authcz.admin_dn:
              - 'CN=admin,O=mindweaver'
              - 'O=mindweaver,CN=admin'
            plugins.security.allow_unsafe_democertificates: false
            plugins.security.allow_default_init_securityindex: true
            {% if additional_properties %}
            {% for key, val in additional_properties.items() %}
            {{ key }}: {{ val }}
            {% endfor %}
            {% endif %}


  destination:
    server: https://kubernetes.default.svc
    namespace: {{ namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
